html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: sans-serif;
  user-select: none;
}

body {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 640px;
}

.select {
  appearance: none;
  background-color: $color-accents;
  height: 30px;
  padding: 0 10px;
  width: 50%;
  &:hover {
    background-color: darken($color: $color-accents, $amount: 3);
  }
}

.submit {
  height: 30px;
  width: 50%;
}

.app {
  min-height: 100vh;
  background-color: $color-background;
}

.app-Header {
  align-items: center;
  background-color: $color-background;
  color: $color-accents;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.error {
  background-color: $color-errors;
  color: $color-accents;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin: 0 auto 5px auto;
  opacity: 0;
  text-align: center;
  transition: 0.3s ease;
  width: 95%;
  @include modifier('show') {
    opacity: 1;
  }
}

.btn {
  cursor: pointer;
  text-decoration: none;
  @include element('home') {
    color: $color-accents;
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
  }
  @include element('employees') {
    background-color: $color-primary;
    color: $color-accents;
    display: block;
    margin: 0 auto 5px auto;
    padding: 5px 0;
    text-align: center;
    width: 95%;
    &:hover {
      background-color: lighten($color: $color-primary, $amount: 10);
    }
  }
}

.form-Filter {
  background-color: $color-primary;
  color: $color-accents;
  display: block;
  margin: 0 auto;
  padding: 5px;
  width: 95%;
  @include element('container') {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-around;
    &:first-child {
      margin-bottom: 5px;
    }
  }
  @include element('radio') {
    height: 100%;
    line-height: 30px;
    text-align: center;
    width: 100%;
    &:hover {
      background-color: lighten($color: $color-primary, $amount: 10);
    }
  }
}

.employee-list {
  background-color: $color-primary;
  color: $color-accents;
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  width: 95%;
  @include element('item') {
    height: 35px;
    line-height: 35px;
    width: 100%;
    @include modifier('avg') {
      border-top: 10px solid $color-background;
      box-sizing: content-box;
      font-weight: bold;
    }
  }
  @include element('id') {
    background-color: $color-accents;
    color: $color-background;
    display: inline-block;
    text-align: center;
    width: 20%;
    @include modifier('title') {
      background-color: $color-background;
      color: $color-accents;
      font-weight: bold;
    }
    @include modifier('avg') {
      width: 50%;
    }
  }
  @include element('wrapper') {
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
    width: 80%;
  }
  @include element('name') {
    display: inline-block;
    text-align: center;
    width: 80%;
    @include modifier('avg') {
      width: 50%;
    }
  }
  @include element('btn') {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    width: 35px;
  }
}

.employee-list__item:nth-child(odd) {
  background-color: lighten($color: $color-primary, $amount: 10);
}

.employee-list__item:nth-child(odd) .employee-list__id--strip {
  background-color: lighten($color: $color-accents, $amount: 100);
}

.form-Employee {
  background-color: $color-primary;
  margin: 0 auto;
  padding: 1em 0;
  width: 95%;

  @include element('label') {
    color: $color-accents;
    display: block;
    height: 30px;
    letter-spacing: 2px;
    line-height: 30px;
    margin: 10px auto 0 auto;
    padding-left: 3px;
    width: 50%;
  }
  @include element('input-text') {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
  @include element('wrapper') {
    display: flex;
    margin: 0 auto;
    width: 50%;
  }
  @include element('radio') {
    background-color: $color-accents;
    color: $color-background;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    width: 50%;
  }
  @include element('select') {
    display: block;
    margin: 0 auto;
  }
  @include element('submit') {
    display: block;
    font-weight: bold;
    margin: 5em auto 0 auto;
  }
}

.form-Employee__radio:hover {
  background-color: lighten($color: $color-primary, $amount: 25);
}

input[type='radio']:checked + .form-Employee__radio {
  background-color: darken($color: $color-primary, $amount: 10);
  color: $color-accents;
}
